/** @format */

.main {
  color: var(--color-white);
  padding: 3% 5%;
  background-color: var(--primary-color);
  min-height: 100vh;
  padding-bottom: 80px;
}

.main span {
  color: var(--secondary-color);
}
.main div > img {
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}

.main > img:hover {
  background-color: var(--secondary-color);
  transition: 0.5 ease-in-out;
}

.inner-main h1{
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .main {
    padding: 3% 15%;
    padding-left: 5%;
  }
}

@media (min-width: 1200px) {
  .inner-main {
    display: flex;
    flex-direction: row-reverse;
  }
  .main div > img {
    width: 60%;
    height: 80vh;
    margin-right: 20px;
  }
  .inner-main > div {
    padding-top: 200px;
  }
}
