/** @format */

.contact {
  color: var(--color-white);
  padding: 3% 5%;
  background-color: var(--primary-color);
  height: 100vh;
}

.contact span {
  color: var(--secondary-color);
}

.rightside form {
  width: 100%;
}
.rightside form input {
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: var(--color-grey1);
  border: none;
  box-shadow: 1px 1px var(--secondary-color);
  color: var(--color-white);
  outline: none;
}

.rightside textarea {
  margin-top: 10px;
  background-color: var(--color-grey1);
  border-radius: 8px;
  width: 95%;
  padding-left: 5px;
  color: var(--color-white);
  box-shadow: 1px 1px var(--secondary-color);
  border: none;
  resize: none;
  outline: none;
}

.contact-info-items {
  padding: 1% 4%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.contact-info-items svg {
  margin-right: 10px;
}
.contact-info-items svg {
  fill: var(--secondary-color);
}
.contact-info-items a {
  color: var(--color-white);
  text-decoration: none;
  border-radius: 5px;
}
.contact-info-items a:hover {
  border-bottom: 2px solid var(--secondary-color);
}

.contact-info-pairs {
  display: flex;
}

.leftside > div {
  padding-top: 30px;
}

.rightside button {
  padding: 10px 60px;
  border-radius: 30px;
  background-color: var(--secondary-color);
  border: none;
  margin-top: 10px;
  color: var(--color-black);
  cursor: pointer;
}

.form-div {
  padding-top: 30px;
}

.icons-socials{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 250px;
  margin: 30px auto;
}

.socials{
  fill: var(--secondary-color);
  font-size: 30px;
}

.socials:hover{
  fill: var(--color-white);
}

@media (min-width: 768px) {
  .contact {
    padding: 3% 15%;
    padding-left: 5%;
  }
}

@media (min-width: 1200px) {
  .form-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
  }
  .leftside > p {
    text-align: left;
  }
  .contact-info-items {
    padding: 1% 0%;
  }
}
