/** @format */

.nav-menu img {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  padding: 10px;
  background-color: var(--color-grey2);
  transition: 0.4s ease-in-out;
}
.home,
.aboutMe,
.portfolio-nav {
  margin-right: 8%;
}
.nav-menu .darkk {
  position: fixed;
  top: 2%;
  right: 5%;
}

.nav-menu img:hover {
  background-color: var(--secondary-color);
  transition: 0.4s ease-in-out;
}

.nav-menu img.active {
  background-color: var(--secondary-color);
  transform: scale(1.1);
}

.nav-menu {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  background-color: var(--color-grey);
  padding: 10px 0px;
  z-index: 1;
}

.nav-menu > img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  margin-top: 20px;
  background-color: var(--color-grey2);
  padding: 10px;
  transition: 0.5 ease-in-out;
}

@media (min-width: 768px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    left: 90vw;
    top: 40vh;
    width: 0px;
  }
}
