/** @format */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #121212;
  --secondary-color: #03C988;
  --primary-text-color: #ffffff;
  --secondary-text-color: #B3B3B3;
  --color-bg: #3A3B3C;
}

.lightmode {
  --primary-color: #E4E6EB;
  --secondary-color: #1C82AD;
  --primary-text-color: #121212;
  --secondary-text-color: #181818;
  --color-bg: #B0B3B8;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
